<a-entity class="hover" visible="false" init-projects>
 <a-entity gltf-model="url(https://cdn.glitch.com/8c51b7e2-742a-4524-915c-57c8595737a8%2F1.glb?v=1626509786659)" ammo-body="type: dynamic;mass:0.2;" ammo-shape="type: box;fit:manual;halfExtents:0.6 0.8 0.2;" 
          position="-0.5 -1.0 -2"></a-entity>
<a-entity gltf-model="url(https://cdn.glitch.com/8c51b7e2-742a-4524-915c-57c8595737a8%2F2.glb?v=1626509786755)" ammo-body="type: dynamic;mass:0.2;"  ammo-shape="type: box;fit:manual;halfExtents:0.6 0.8 0.2;"
          position="0 -1.0 -2"></a-entity>
      <a-entity gltf-model="url(https://cdn.glitch.com/8c51b7e2-742a-4524-915c-57c8595737a8%2F3.glb?v=1626509787101)" ammo-body="type: dynamic;mass:0.2;"  ammo-shape="type: box;fit:manual;halfExtents:0.6 0.8 0.2;"
          position="0 -1.0 -2"></a-entity>
      <a-entity gltf-model="url(https://cdn.glitch.com/8c51b7e2-742a-4524-915c-57c8595737a8%2F4.glb?v=1626509786964)" ammo-body="type: dynamic;mass:0.2;"  ammo-shape="type: box;fit:manual;halfExtents:0.6 0.8 0.2;"          
                position="0 -1.0 -0.5"></a-entity>
      <a-entity gltf-model="url(https://cdn.glitch.com/8c51b7e2-742a-4524-915c-57c8595737a8%2F5.glb?v=1626509787031)" ammo-body="type: dynamic;mass:0.2;"  ammo-shape="type: box;fit:manual;halfExtents:0.6 0.8 0.2;"
          position="-0.04 -1.0 -1"></a-entity>
  <!--<a-box scale="2 2 2" color="blue"></a-box>-->
  <a-plane
    static-body
    position="0 -1.10 -1.0"
    rotation="270 0 0"
    scale="10 10 10"
    color="#FF8B94"
  ></a-plane>
  <a-plane
           id="building"
    static-body
    position="0 -1.10 6.0"
    rotation="360 0 0"
    scale="100 100 100"
    color="#FF8B94"
         opacity="0"
  ></a-plane>
</a-entity>


<a-entity class="projects" visible="true">
<a-gltf-model
  id="hammock"
  src="https://cdn.glitch.com/8c51b7e2-742a-4524-915c-57c8595737a8%2Fhammockanim.glb?v=1626506429590"
  position="0.08 -1.29 0"
  scale="0.6 0.6 0.6"
  rotation="0 0 0"
              animation-mixer
>
  <a-text
        look-at="#cam"
        width="10"
        color="black"
        position="0 8 0"
        rotation="0 230 0"
        value="PROJECTS"
        scale="6 6 6"
        text="negate:false;color:#000;width:3;font:CourierPrime-Regular-msdf.json;fontImage:https://cdn.glitch.com/8c51b7e2-742a-4524-915c-57c8595737a8%2FCourierPrime-Regular.png?v=1626399421499;align:center;alphaTest:0.0;opacity:1;"
      ></a-text>
</a-gltf-model>
<a-entity
  animation="property:rotation;to: 0 360 0;dur:50000;loop:true; easing: linear;"
>
  <a-entity
    rotation="90 0 0"
    position="-0.16 -2.0 0 "
    layout="type: circle; radius: 5"
  >
    <a-gltf-model
                  
      id="balloon1"
      src="#balloon"
      model-opacity="opacity:0.3"
      class="hover projects"
      display
      scale="0.7 0.7 0.7"
      rotation="270 0 0"
      link="href:projects/mirror-mmuseum.html"
      animation-mixer
    >
      <a-text
        look-at="#cam"
        width="10"
        color="black"
        position="0 5.9 0"
        rotation="0 230 0"
        visible="false"
        value="Money Museum"
        scale="2.4 2.4 2.4"
        text="negate:false;color:#000;width:3;font:CourierPrime-Regular-msdf.json;fontImage:https://cdn.glitch.com/8c51b7e2-742a-4524-915c-57c8595737a8%2FCourierPrime-Regular.png?v=1626399421499;align:center;alphaTest:0.0;opacity:1;"
      ></a-text>
    </a-gltf-model>

    <a-gltf-model
                  
      id="balloon2"
      src="#balloon"
      model-opacity="opacity:0.3"
      class="hover projects"
      display
      scale="0.7 0.7 0.7"
      rotation="270 0 0"
      link="href:projects/black.html"
      animation-mixer
    >
      <a-text
        look-at="#cam"
        width="10"
        color="black"
        position="0 5.9 0"
        rotation="0 230 0"
        visible="false"
        value="Black"
        scale="2.4 2.4 2.4"
        text="negate:false;color:#000;width:3;font:CourierPrime-Regular-msdf.json;fontImage:https://cdn.glitch.com/8c51b7e2-742a-4524-915c-57c8595737a8%2FCourierPrime-Regular.png?v=1626399421499;align:center;alphaTest:0.0;opacity:1;"
      ></a-text>
    </a-gltf-model>

    <a-gltf-model
                  
      id="balloon3"
      src="#balloon"
      model-opacity="opacity:0.3"
      class="hover projects"
      display
      scale="0.7 0.7 0.7"
      rotation="270 0 0"
      
      link="href:projects/song365.html"
      animation-mixer
    >
      <a-text
        look-at="#cam"
        width="10"
        color="black"
        position="0 5.9 0"
        rotation="0 230 0"
        visible="false"
        value="Song365"
        scale="2.4 2.4 2.4"
        text="negate:false;color:#000;width:3;font:CourierPrime-Regular-msdf.json;fontImage:https://cdn.glitch.com/8c51b7e2-742a-4524-915c-57c8595737a8%2FCourierPrime-Regular.png?v=1626399421499;align:center;alphaTest:0.0;opacity:1;"
      ></a-text>
    </a-gltf-model>
    <a-gltf-model
                  
      id="balloon4"
      src="#balloon"
      model-opacity="opacity:0.3"
      class="hover projects"
      display
      scale="0.7 0.7 0.7"
      rotation="270 0 0"
      
      link="href:projects/killia.html"
      animation-mixer
    >
      <a-text
        look-at="#cam"
        width="10"
        color="black"
        position="0 5.9 0"
        rotation="0 230 0"
        visible="false"
        value="Killia"
        scale="2.4 2.4 2.4"
        text="negate:false;color:#000;width:3;font:CourierPrime-Regular-msdf.json;fontImage:https://cdn.glitch.com/8c51b7e2-742a-4524-915c-57c8595737a8%2FCourierPrime-Regular.png?v=1626399421499;align:center;alphaTest:0.0;opacity:1;"
      ></a-text>
    </a-gltf-model>
    <a-gltf-model
                  
      id="balloon5"
      src="#balloon"
      model-opacity="opacity:0.3"
      class="hover projects"
      display
      scale="0.7 0.7 0.7"
      rotation="270 0 0"
      
      link="href:projects/blah.html"
      animation-mixer
    >
      <a-text
        look-at="#cam"
        width="10"
        color="black"
        position="0 5.9 0"
        rotation="0 230 0"
        visible="false"
        value="Blah Blah Blah"
        scale="2.4 2.4 2.4"
        text="negate:false;color:#000;width:3;font:CourierPrime-Regular-msdf.json;fontImage:https://cdn.glitch.com/8c51b7e2-742a-4524-915c-57c8595737a8%2FCourierPrime-Regular.png?v=1626399421499;align:center;alphaTest:0.0;opacity:1;"
      ></a-text>
    </a-gltf-model>
  </a-entity>
</a-entity>
<a-plane
         
  static-body
  position="0 -1.10 -1.0"
  rotation="270 0 0"
  scale="50 50 50"
 
  src="#dots"
         material="transparent:true;repeat:8 8;side:double;"
         animation="property:rotation;to:270 360 0;dur:40000;loop:true;"
></a-plane>
</a-entity>