<script id="ds" type="text/x-jade-template">
  - for (var i = -7; i < 7; i++) {


    a-gltf-model(src="#dragonfly", class="dragonfly",scale="0.1 0.1 0.1", animation-mixer="", position="#{Math.sin(i)  * Math.PI*2} #{i} #{Math.sin(i) * Math.PI*2}")

  - }
</script>
<a-entity
  visible="true"
  id="instructions"
  class="hover"
 
>
  <a-entity  text="value: Disrupt Dragonflies;negate:false;color:#000;width:3;font:CourierPrime-Regular-msdf.json;fontImage:https://cdn.glitch.com/8c51b7e2-742a-4524-915c-57c8595737a8%2FCourierPrime-Regular.png?v=1626399421499;align:center;alphaTest:0.0;opacity:1; "
  position="0 2 0"
  scale="3 3 0"></a-entity>
  <a-entity  text="value: Dragonflies mimicking wind direction in London;negate:false;color:#000;width:3;font:CourierPrime-Regular-msdf.json;fontImage:https://cdn.glitch.com/8c51b7e2-742a-4524-915c-57c8595737a8%2FCourierPrime-Regular.png?v=1626399421499;align:center;alphaTest:0.0;opacity:1; "
  position="0 -1 0"
  scale="2 2 0"></a-entity>
</a-entity>
<a-entity id="data" visible="false">
  <a-entity
    id="info"
    class="hover"
    text="value: SARAH ALI;negate:false;color:#000;width:3;font:CourierPrime-Regular-msdf.json;fontImage:https://cdn.glitch.com/8c51b7e2-742a-4524-915c-57c8595737a8%2FCourierPrime-Regular.png?v=1626399421499;align:center;alphaTest:0.0;opacity:1; "
    link="href:http://ciid.dk/education/students-2020/sarah-ali/;"
    position="0 2 0"
    scale="10 10 0"
  ></a-entity>
  <a-entity
    visible=""
    class="hover"
    text="value: Interaction Designer; negate: false; color: #000; width: 3; font: CourierPrime-Regular-msdf.json; fontImage: https://cdn.glitch.com/8c51b7e2-742a-4524-915c-57c8595737a8%2FCourierPrime-Regular.png?v=1626399421499; align: center; alphaTest: 0"
    link="href: http://ciid.dk/education/students-2020/sarah-ali/"
    position="-0.00103 1.041 0"
    scale="4 4 0.00001"
  ></a-entity>
  <a-entity
    visible=""
    class="hover"
    text="value: Inmersive Experiences; negate: false; color: #000; width: 3; font: CourierPrime-Regular-msdf.json; fontImage: https://cdn.glitch.com/8c51b7e2-742a-4524-915c-57c8595737a8%2FCourierPrime-Regular.png?v=1626399421499; align: center; alphaTest: 0"
    link="href: http://ciid.dk/education/students-2020/sarah-ali/"
    position="-0.06794 0.40916 0"
    scale="4 4 0.00001"
  ></a-entity>
  <a-entity
    visible=""
    class="hover"
    text="value: Spark Social Dialogue; negate: false; color: #000; width: 3; font: CourierPrime-Regular-msdf.json; fontImage: https://cdn.glitch.com/8c51b7e2-742a-4524-915c-57c8595737a8%2FCourierPrime-Regular.png?v=1626399421499; align: center; alphaTest: 0"
    link="href: http://ciid.dk/education/students-2020/sarah-ali/"
    position="-0.06794 -0.2616 0"
    scale="4 4 0.00001"
  ></a-entity>
  <a-entity
    visible=""
    class="hover"
    text="value: beyondthebund@gmail.com; negate: false; color: #000; width: 3; font: CourierPrime-Regular-msdf.json; fontImage: https://cdn.glitch.com/8c51b7e2-742a-4524-915c-57c8595737a8%2FCourierPrime-Regular.png?v=1626399421499; align: center; alphaTest: 0"
    link="href: mailto:beyondthebundgmail.com"
    position="-0.06794 -1 0"
    scale="2 2 0.00001"
  ></a-entity>
  <a-entity
    visible=""
    class="hover"
    text="value: London Town; negate: false; color: #000; width: 3; font: CourierPrime-Regular-msdf.json; fontImage: https://cdn.glitch.com/8c51b7e2-742a-4524-915c-57c8595737a8%2FCourierPrime-Regular.png?v=1626399421499; align: center; alphaTest: 0"
    link="href: http://ciid.dk/education/students-2020/sarah-ali/"
    position="-0.06794 -1.4616 0"
    scale="2 2 0.00001"
  ></a-entity>
  <a-entity class="hover" geometry="primitive:plane" position="0 -2.4 -0.5" material="color:black;" scale="4 0.6 0"  onclick="setScene(1)"> 
  </a-entity>
  <a-entity
    visible=""
    class="hover"
    text="value: See My Projects; negate:false; color: #FFF; width: 3; font: CourierPrime-Regular-msdf.json; fontImage: https://cdn.glitch.com/8c51b7e2-742a-4524-915c-57c8595737a8%2FCourierPrime-Regular.png?v=1626399421499; align: center; alphaTest: 0"
    position="0 -2.06 0"
              onclick="setScene(1)"
             scale="3 3 0"
  ></a-entity>
  
</a-entity>
<a-entity
  position="4 3 2"
  animation="property: rotation; to: -360 90 0;dur: 12000; easing: linear; loop: true"
  template="src: #ds"
></a-entity>
<a-entity
  position="5 4 2"
  animation="property: rotation; to: -360 45 0;dur: 16000; easing: linear; loop: true"
  template="src: #ds"
></a-entity>

<a-entity rotation="0 180 0"
  ><a-entity
    position="0 1 2"
    animation="property: rotation; to: -360 0 0;dur: 14000; easing: linear; loop: true"
    template="src: #ds"
  ></a-entity
></a-entity>
<a-entity id="info-init" ></a-entity>
<!--<iframe src="https://swapper-aframe.glitch.me/t.html" width="100%">
  
</iframe>-->
