@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

#circle {
  border-radius: 50%;
  border: none !important;
  padding: 0px;
  background: rgba(0,0,0,0);
  /*margin: 5px;*/
  display: block;
  width: 3.5em;
  height: 3.5em;
  /*box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, 0.26);*/
  cursor: pointer;
  top: 0.4em;
  right: 0.5em;
  float: right;
}

.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
}

iframe {
  border: 0px !important;
}

.center {
  text-align: center;
}

.dropdown {
  display: inline-block;
   position:absolute;
    z-index: 3;
    right:30px;
    top:30px;
}

.dropdown-content {
  display: none;
  position:absolute;
  background-color: rgba(0,0,0,0);
  /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
  /*margin: 10px;*/
  right: 5px;
  top: 55;
 /* z-index: 1;*/
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}


#navCircle {
 /* width: 100%;*/
  z-index: 1;

   position:relative;
    float:right;
    top:0;
    right:0;

    min-width:0;
    width:8%;
}

.snap {
  background: rgba(0,0,0,0);
 text-align: right;
}

.info {
  display: none;
    position: absolute;
    margin: 5%;
    width: 90%;
    height: 500px;
   
}

.wide {
  padding: 40px;
}

.white-back {
  background: white;
  color: blue;
}

.title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 50%;
    text-align: center;
    
}

.info-text {
  font-size: 14px;
}

#body {
 background: rgb(255,139,148);
background: linear-gradient(180deg, rgba(255,139,148,1) 2%, rgba(255,211,182,1) 57%);
  font-family: 'Courier Prime',monospace;
}


.handsfree-debugger {
    width: 300px;
    position: absolute !important;
    z-index: 1;
    top: 0;
}