<a-entity>
  <a-entity gltf-model="url(https://cdn.glitch.com/8c51b7e2-742a-4524-915c-57c8595737a8%2F1.glb?v=1626509786659)" ammo-body="type: dynamic;mass:0.2;" ammo-shape="type: box;fit:manual;halfExtents:0.6 0.8 0.2;" 
          position="-0.5 -1.0 -2"></a-entity>
<a-entity gltf-model="url(https://cdn.glitch.com/8c51b7e2-742a-4524-915c-57c8595737a8%2F2.glb?v=1626509786755)" ammo-body="type: dynamic;mass:0.2;"  ammo-shape="type: box;fit:manual;halfExtents:0.6 0.8 0.2;"
          position="0 -1.0 -2"></a-entity>
      <a-entity gltf-model="url(https://cdn.glitch.com/8c51b7e2-742a-4524-915c-57c8595737a8%2F3.glb?v=1626509787101)" ammo-body="type: dynamic;mass:0.2;"  ammo-shape="type: box;fit:manual;halfExtents:0.6 0.8 0.2;"
          position="0 -1.0 -2"></a-entity>
      <a-entity gltf-model="url(https://cdn.glitch.com/8c51b7e2-742a-4524-915c-57c8595737a8%2F4.glb?v=1626509786964)" ammo-body="type: dynamic;mass:0.2;"  ammo-shape="type: box;fit:manual;halfExtents:0.6 0.8 0.2;"          
                position="0 -1.0 -0.5"></a-entity>
      <a-entity gltf-model="url(https://cdn.glitch.com/8c51b7e2-742a-4524-915c-57c8595737a8%2F5.glb?v=1626509787031)" ammo-body="type: dynamic;mass:0.2;"  ammo-shape="type: box;fit:manual;halfExtents:0.6 0.8 0.2;"
          position="-0.04 -1.0 -1"></a-entity>
  <!--<a-box scale="2 2 2" color="blue"></a-box>-->
  <a-plane
    static-body
    position="0 -1.10 -1.0"
    rotation="270 0 0"
    scale="10 10 10"
    color="#FF8B94"
  ></a-plane>
</a-entity>
